table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25vw;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  li {
    font-family: arial;
  }

p,a,h1 {
  font-family: arial, sans-serif;
}
